    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Higgs Boson LLC</h2>
              <br/>
                <p>Higgs Boson LLC is a startup focused on creating innovative products for doctors, patients and hospitals</p>
                <p>Stay tuned for more information</p>
                <br/>
              </div>
        </div>
    </section>
